@using DirectoryListApp
@using Microsoft.AspNet.Identity

<!-- Main header start -->
<header class="main-header header-transparent sticky-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand logo" href="#">
                @*<img src="~/Content/images/uno-logo.png" alt="logo" class="f-logo">*@
                <p>Gold Privilege Card</p>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav header-ml">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="~/Home/Index" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                            Home
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="~/Directory/DirectoryItem/Category" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="~/Directory/DirectoryItem/Contact" id="dropdown01" aria-haspopup="true" aria-expanded="false">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="~/Account/Login">
                            <i class="flaticon-logout"></i>Sign In
                        </a>
                    </li>
                </ul>
                <ul class="form-group button">
                    <li>
                        <a class="btn" style="width:200px;" href="~/Directory/DirectoryItem/AdvanceSearch">
                            Advanced Search
                        </a>
                    </li>                    
                </ul>
           </div>
           
        </nav>
    </div>
</header>
<!-- Main header end -->


