@model DirectoryListApp.Areas.Admin.Models.CategorySetupViewModel

@{
    ViewBag.Title = "InsertUpdateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @using (Html.BeginForm("InsertUpdateCategory", "CommonSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        Html.RenderPartial("VUC_AddCategory");
        <br />
        <div class="clearfix"></div>

        <input type="submit" value="Save" class="btn btn-success" />
        <div class="btn btn-defult"> @Html.ActionLink("Back To List", "Category")</div>

    }
</div>


