@model DirectoryListApp.Areas.Admin.Models.DirectoryViewModel

@{
    ViewBag.Title = "UpdateDirectory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="well well-small">
    @Html.HiddenFor(model => model.DirectoryItemId)
    @using (Html.BeginForm("UpdateDirectory", "CommonSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        Html.RenderPartial("VUC_AddDirectory");
        <br />

        <input type="submit" value="Edit and Save" class="btn" />
        <div class="btn">  @Html.ActionLink("Back To List", "Index")</div>

    }
</div>


