@model DirectoryListApp.Models.DirectoryModel

    @if (Model.DirectoryModelList.Count > 0)
    {
        foreach (var item in Model.DirectoryModelList)
        {
            <div>
                <ul>
                    <li>
                        <p><strong>@item.DirectoryItemName</strong></p>
                        <p>Category: <span style="color:green;">@Utility.GetDirectoryCategoryName(item.DirectoryCategoryId)</span></p>
                        <a class="details" href="~/DirectoryItem/Details/@item.DirectoryItemId" title="View Details"><i class="fa fa-pinterest" style="color:lightseagreen;" data-toggle="modal" data-target="#myModal"></i></a>
                        <hr style="border:dashed 0.5px;" />
                    </li>
                </ul>
            </div>
        }
    }
    else
    {
        <h4>No records found!</h4>
    }

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Directory Details</h4>
            </div>
            <div id="ModalBody" class="modal-body">
                <form></form>
            </div>
        </div>
    </div>
</div>
<script>
    $(".details").on("click", function () {
        debugger;
        var href = $(this).attr('href');
        $.ajax({
            url: href,
            success: function (result) {
                debugger;
                if (result) {
                    $("#myModal").modal('show');
                    $('#ModalBody').html(result);
                }

            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });

    });
</script>